@{
    ViewBag.Title = "About The People Search Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Project Readme</h3>
<p>This project is a technical demonstration for the HealthCatalyst interview process.</p>
<p>
	Technologies Used:
	<ul>
		<li>ASP.NET MVC</li>
		<li>Entity Framework Code First</li>
		<li>Ajax</li>
		<li>Bootstrap</li>
		<li>JSON</li>
	</ul>
	Notes:
	<ul>
		<li>DB Connection string assumes existance of "(localdb)\MSSQLLocalDB\"</li>
		<li>Requirements were for data seeding or entering data so I did both.</li>
		<li>Entity Framework was really fun to work with so I exposed all CRUD functionality.</li>
		<li>I did not add additional person properties as that would just be busy work.</li>
		<li>I added the person's address to a separate DB table for demonstration.</li>
		<li>To meet the requirement I only used JSON for the request and response on the main search page.</li>
		<li>Unit tests are order dependent and can all be executed using the FullOrderdedTest</li>
	</ul>
	Thoughts on Enhancements:
	<ul>
		<li>More modular solution if this were going to grow to enterprise size. (Client/server project separation etc..)</li>
		<li>UI layout could be improved with design team or more time to play around.</li>
		<li>Add caching.</li>
	</ul>
</p>

<h3>Contact Info</h3>
<address>
	<strong>Email:</strong> <a href="mailto:chris@raaum.us">chris.johnston@healthcatalyst.com</a><br />
	<strong>Mobile:</strong> +1 (801) 631-2518 <br />
	<strong>GitHub:</strong> <a href="https://github.com/sjsurfer/ThePeopleSearchApplication" target="_blank">sjsurfer</a><br />
</address>