@{
    ViewBag.Title = "About The People Search Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Project Readme</h3>
<p>This project is a technical demonstration for the HealthCatalyst interview process.</p>
<p>
	Technologies Used:
	<ul>
		<li>ASP.NET MVC</li>
		<li>Entity Framework Code First</li>
		<li>Ajax</li>
		<li>Bootstrap</li>
		<li>JSON</li>
	</ul>
	Notes:
	<ul>
		<li>Notes go here...</li>
	</ul>
</p>

<h3>Contact Info</h3>
<address>
	<strong>Email:</strong>   <a href="mailto:chris@raaum.us">chris.johnston@healthcatalyst.com</a><br />
	<strong>Mobile:</strong> (801) 631-2518
</address>