@{
    ViewBag.Title = "Home Page";
}

<script>
	// Clear the search results
	function clearResults() {
		$('#SearchResults').empty();
	}

	// Set both href's when the input changes
	function setKeywordInput() {
		$('#NormalSearchButton').attr('href', function () {
			var href = String(this.href);
			// Convert query string to JSON
			var jsonRequest = { keyword: $('#Keyword').val().trim(), simulateSlow: false };
			startIndex = href.indexOf('?') + 1;
			var queryString = JSON.stringify(jsonRequest);
			if (startIndex > -1) {
				return this.href = href.slice(0, startIndex) + "json=" + queryString;
			}
			else {
				return this.href = href;
			}
		});
		$('#SlowSearchButton').attr('href', function () {
			var href = String(this.href);
			// Convert query string to JSON
			var jsonRequest = { keyword: $('#Keyword').val().trim(), simulateSlow: true };
			startIndex = href.indexOf('?') + 1;
			var queryString = JSON.stringify(jsonRequest);
			if (startIndex > -1) {
				return this.href = href.slice(0, startIndex) + "json=" + queryString;
			}
			else {
				return this.href = href;
			}
		});
	}

	window.onload = function () {
		setKeywordInput();
	}
</script>
<div class="jumbotron">
    <h1>People Search Application</h1>
	<p class="lead">By Chris Johnston</p>
	<p></p>
	<p></p>
	<p>Search by first or last name: <input type="text" id="Keyword" name="Keyword" onblur="setKeywordInput()"/></p>
	<div class="row">
		<div class="col-md-6">
			<h2>Search for a person quickly</h2>
			<p>This will run the normal search.</p>
			<p><a>
				@Ajax.ActionLink(
					linkText: "Search »",
					actionName: "PersonSearch",
					controllerName: "Person",
					routeValues: new { json = "__jsonRequest__" },
					ajaxOptions: new AjaxOptions
					{
						OnBegin = "clearResults",
						LoadingElementId = "LoadingDiv",
						UpdateTargetId = "SearchResults",
						InsertionMode = InsertionMode.Replace,
						HttpMethod = "POST"
					},
					htmlAttributes: new { @class = "btn btn-default", id = "NormalSearchButton" })
			</a></p>
		</div>
		<div class="col-md-6">
			<h2>Or search for a person slowly</h2>
			<p>This will run a simulated slow search.</p>
			<p><a>
				@Ajax.ActionLink(
					linkText: "Search »",
					actionName: "PersonSearch",
					controllerName: "Person",
					routeValues: new { json = "__jsonRequest__" },
					ajaxOptions: new AjaxOptions
					{
						OnBegin = "clearResults",
						LoadingElementId = "LoadingDiv",
						UpdateTargetId = "SearchResults",
						InsertionMode = InsertionMode.Replace
					},
					htmlAttributes: new { @class = "btn btn-default", id = "SlowSearchButton" })
			</a></p>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
		<p>
			<div class="text-center" id="LoadingDiv" name="LoadingDiv" style="z-index:1234; display:none;">
				<img src="@Url.Content("~/Content/Images/Loading.gif")" alt="Loading..." class="ajax-loader" />
				<h3>Searching...</h3>
			</div>
			<div id="SearchResults" name="SearchResults"></div>
		</p>
    </div>
</div>